html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] .ml-auto {
  margin-left: 0;
  margin-right: auto;
}

html[dir="rtl"] .mr-auto {
  margin-right: 0;
  margin-left: auto;
}

html[dir="rtl"] .text-left {
  text-align: right;
}

html[dir="rtl"] .text-right {
  text-align: left;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

html[dir="ltr"] .text-left {
  text-align: left;
}

html[dir="ltr"] .text-right {
  text-align: right;
}

[dir="rtl"] .flip-rtl {
  transform: scaleX(-1);
}

@supports (gap: 1px) {
  .flex-gap {
    display: flex;
    gap: 16px;
  }
}
